[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <div class="title">Postlandia</div>

  <div class="form">
    <div class="field">
      <div class="control">
        <textarea class="textarea" v-model="add_post"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control mb-3">
        <input type="submit" value="Post" class="button is-primary" @click="add_a_post">
        <input type="submit" value="Cancel" class="button is-warning" @click="cancel_post">
      </div>
    </div>
  </div>

  <div class="field" v-for="p in posts">
    <div class="control box">
      <input type="text" class="input is-static" v-model="p.content">
      <nav class="level">
        <div class="level-left">
          <span @mouseout="thumb_out(p._idx)">
            <span @mouseover="thumb_over(p._idx, 1)"
                  @click="set_thumb(p._idx, 1)">
              <i v-if="p.hover_rating == 1" class="fa fa-thumbs-up" aria-hidden="true"></i>
              <i v-if="p.hover_rating == -1 || p.hover_rating == 0" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </span>
            <span @mouseover="thumb_over(p._idx, -1)"
                  @click="set_thumb(p._idx, -1)">
              <i v-if="p.hover_rating == 1 || p.hover_rating == 0" class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              <i v-if="p.hover_rating == -1" class="fa fa-thumbs-down" aria-hidden="true"></i>
            </span>
          </span>

        </div>

        <div class="level-right">
          <span v-if="p.author == user">
            <i class="fa fa-trash" @click="delete_post(p.id)"></i>
          </span>
        </div>
      </nav>


    </div>


  </div>


</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_post_url = "[[=XML(load_post_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
